In [1]:
with open("input.txt") as file:
    rawinput = file.read().splitlines()

In [7]:
gamedict = {
    "A": {"X": "Draw", "Y": "Win", "Z": "Lose"},
    "B": {"X": "Lose", "Y": "Draw", "Z": "Win"},
    "C": {"X": "Win", "Y": "Lose", "Z": "Draw"},
}

In [8]:
game = [i.split() for i in rawinput]

In [9]:
import pandas as pd

In [29]:
scores = {"X": 1, "Y": 2, "Z": 3}
score_result = {"Draw":3, "Lose":0, "Win":6}

In [20]:
df_game = pd.DataFrame.from_dict(game)
df_game.rename(columns = {0:"Theirs", 1:"Ours"}, inplace=True)

In [28]:
df_game["outcomes"] = df_game.apply(lambda x: gamedict[x["Theirs"]][x["Ours"]], axis=1)

In [30]:
df_game["Score"] = df_game.apply(lambda x: scores[x["Ours"]] + score_result[x["outcomes"]], axis=1)

In [31]:
df_game

     Theirs Ours  Score outcomes
0         B    Y      5     Draw
1         A    Y      8      Win
2         B    Z      9      Win
3         A    Z      3     Lose
4         A    Y      8      Win
...     ...  ...    ...      ...
2495      C    X      7      Win
2496      A    Y      8      Win
2497      A    Z      3     Lose
2498      B    Y      5     Draw
2499      A    Y      8      Win

[2500 rows x 4 columns]

In [32]:
df_game["Score"].sum()

13052

## Scores

- X: Lose    0
- Y: Draw    3
- Z: Win     6

## Types
- A: Rock    1
- B: Paper   2
- C: Scissor 3

In [35]:
outcome_game = pd.DataFrame.from_dict(game)
outcome_game.rename(columns = {0:"Theirs", 1:"Outcomes"}, inplace=True)

In [55]:
outcomegamedict = {
    "A": {"X": "C", "Y": "A", "Z": "B"},
    "B": {"X": "A", "Y": "B", "Z": "C"},
    "C": {"X": "B", "Y": "C", "Z": "A"},
}

In [56]:
outcome_game["Ours"] = outcome_game.apply(
    lambda x: outcomegamedict[x["Theirs"]][x["Outcomes"]], axis=1
)

In [57]:
outcome_game

     Theirs Outcomes Ours  Score
0         B        Y    B      6
1         A        Y    A      4
2         B        Z    C      7
3         A        Z    B      8
4         A        Y    A      4
...     ...      ...  ...    ...
2495      C        X    B      1
2496      A        Y    A      4
2497      A        Z    B      8
2498      B        Y    B      6
2499      A        Y    A      4

[2500 rows x 4 columns]

In [58]:
scores = {"A": 1, "B": 2, "C": 3}
score_result = {"X": 0, "Y": 3, "Z": 6}

In [59]:
outcome_game["Score"] = outcome_game.apply(lambda x: scores[x["Ours"]] + score_result[x["Outcomes"]], axis=1)

In [60]:
outcome_game["Score"].sum()

13693